<!doctype html>
<html layout:decorate="~{layout}"
      lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Dictionary API Test | Word Chain</title>
</head>

<body>

    <div layout:fragment="content" class="container">

        <h2>Dictionary API Test</h2>

        <div class="api-test-input">
            <form action="/word-check" class="form-horizontal" method="post">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="word" class="cols-sm-2 control-label">Type here a word, and it will be checked:</label>
                            <div class="cols-sm-12">
                                <div class="input-group" id="word">
                                    <input type="text" class="form-control" name="word" th:value="${word}" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="form-group ">
                    <input class="btn btn-info" type="submit" value="Check"/>
                </div>

            </form>
        </div>

        <th:block th:if="${checking} and ${#lists.size(meanings) == 0}">
            <p th:text="${'This word is not in Oxford Dictionary.'}"></p>
        </th:block>

        <th:block th:if="${checking} and ${#lists.size(meanings) > 0}">
            <p>It is an existing word.</p>
            <br/>
            <table class="table table-hover">
                <thead>
                    <tr class="table-secondary">
                        <th></th>
                        <th class="center">Meanings from the Oxford Dictionary</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="meaning, iterStat : ${meanings}">
                        <td th:text="${iterStat.count} + '.'">count</td>
                        <td th:text="${meaning}">meaning</td>
                    </tr>
                </tbody>

            </table>

        </th:block>

    </div>

</body>
</html>