<!doctype html>
<html layout:decorate="~{layout}"
      lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Game | Word Chain</title>
    <script th:src="@{~/js/game.js}" defer="defer"></script>
</head>

<body>

<div layout:fragment="content" class="container">



    <div id="chain-box">
        <ul id = "chain-list">
            <!--words come here from JavaScript-->
        </ul>
    </div>
    <br>

    <div id="add-word-div">
        <div class="form-group">
            <fieldset>
                <input class="form-control" id="word-input-field" type="text" placeholder="Type here your new word" autofocus>
            </fieldset>
        </div>
        <button type="button" class="btn btn-success" id="add-word">Add word</button>

    </div>

    <br>
    <button type="button" class="btn btn-success" id="add-word2" disabled>Add word</button>

    <br>
    <button id="add-test">Test Add word</button>


</div>

</body>
</html>