<!doctype html>
<html layout:decorate="~{layout}"
      lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Game | Word Chain</title>
    <script th:src="@{~/js/game.js}" defer="defer"></script>
</head>

<body>

<div layout:fragment="content" class="container">

    <div class="row">
        <div class="col-lg-4">
            <div class="bs-component">
                <h3 class="text-center">Players</h3>
                <table class="table table-hover">
                    <thead>
                    <tr class="table-secondary">
                        <th class="center">Username</th>
                        <th class="center">Time</th>
                    </tr>
                    </thead>

                    <tbody id="player-data-table-body">
                        <!--player data comes here from JavaScript-->
                    </tbody>

                </table>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="bs-component">
                <div id="chain-box">
                    <ul id = "chain-list">
                        <!--words come here from JavaScript-->
                    </ul>
                </div>
                <br>
                <div id="add-word-div">
                    <div class="form-group">
                        <fieldset>
                            <input class="form-control" id="word-input-field" type="text" disabled>
                        </fieldset>
                    </div>
                    <button type="button" class="btn btn-success" id="add-word" disabled>Add word</button>
                    <p id="timer"></p>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="bs-component">
                <h3 id="message-box-title">Info</h3>
                <div id="message-box">
                    <div id="message-section">
                        <!--messages come here from JavaScript-->
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

</body>
</html>