<!doctype html>
<html layout:decorate="~{layout}"
      lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Main Page | Word Chain</title>
    <script th:src="@{~/js/onlineEntities.js}" defer="defer"></script>
</head>

<body>

<div layout:fragment="content" class="container">

    <th:block th:if="${newplayersaved}">
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Registration succeeded! If you want to book rooms, please, log in.</strong>
        </div>
    </th:block>

    <div class="row">
        <div class="col-6">
            <div class="bs-component">
                <h3 class="text-center">Online Players</h3>
                <table class="table table-hover">
                    <thead>
                        <tr class="table-secondary">
                            <th class="center">Username</th>
                        </tr>
                    </thead>

                    <tbody id="players-table-body">
                        <tr class="players-table-body-row" th:each="player, iterStat : ${onlinePlayers}">
                            <td th:text="${player.getUserName()}">username</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>

        <div class="col-6">
            <div class="bs-component">

                <th:block th:if="${loggedIn}">

                    <h3>My games</h3>
                    <table class="table table-hover">
                        <thead>
                        <tr class="table-secondary">
                            <th class="center">Members</th>
                            <th class="center">Type</th>
                            <th class="center">Start</th>
                            <th class="center">Delete</th>
                        </tr>
                        </thead>

                        <tbody id="my-games-table-body">
                            <!--here comes data from JavaScript-->
                        </tbody>

                    </table>

                    <form action="/" method="POST">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="round" id="optionsRadios1" value="5" checked="">
                            5 rounds
                        </label>
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="round" id="optionsRadios2" value="10">
                            10 rounds
                        </label>
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="round" id="optionsRadios3" value="20">
                            20 rounds
                        </label>
                        <button type="submit" class="btn btn-info">Create New Match</button>
                    </form>

                    <br><br><br>

                    <h3>Other's games</h3>
                    <table class="table table-hover">
                        <thead>
                        <tr class="table-secondary">
                            <th class="center">Creator</th>
                            <th class="center">Members</th>
                            <th class="center">Type</th>
                            <th class="center">Join/Leave</th>
                        </tr>
                        </thead>

                        <tbody id="other-games-table-body">
                            <!--here comes data from JavaScript-->
                        </tbody>

                    </table>
                </th:block>


                <th:block th:unless="${loggedIn}">
                    <h3 class="text-center">Opened Games</h3>
                    <table class="table table-hover">
                        <thead>
                        <tr class="table-secondary">
                            <th class="center">Creator</th>
                            <th class="center">Members</th>
                            <th class="center">Type</th>
                        </tr>
                        </thead>

                        <tbody id="every-game-table-body">
                            <!--here comes data from JavaScript-->
                        </tbody>

                    </table>
                </th:block>

            </div>
        </div>

    </div>

    <br>
    <a href="/word-check" role="button" class="btn btn-info">Go to Oxford...</a>

</div>

</body>
</html>