<!DOCTYPE html>
<html layout:decorate="~{layout}"
      lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Player Registration | Word Chain</title>
</head>
<body>

<div layout:fragment="content" class="container">

    <header class="container text-center">
        <h2>Registration</h2>
        <br>
        <p class="text-success">Registration succeeded! If you want to play, please, log in.</p>
    </header>

</div>

</body>
</html>